.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.texblanco {
  color:#FFF;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.288),
  0px 8px 13px rgba(0, 0, 0, 0.219),
  0px 18px 23px rgba(0, 0, 0, 0.144);
}

.iconmenu {
  margin-left: -5px;
  transform: scale(0.8);
  margin-right: 10px;
  margin-top: -5px;
  cursor: pointer !important;
}

.fgris {
  background-color: rgba(220, 220, 220, 0.0);
  padding: 0.75rem;
}
.fblanco {
  background-color: #FFF;
  height: 110px;
  border-color: rgba(220, 220, 220, 0.7);
  border-style:solid;
  border-width: 2px;
  border-radius: 0px;
  box-shadow: #000;
}
.fblanco2 {
  background-color: #FFF;
  border-color: rgba(220, 220, 220, 0.7);
  border-style:solid;
  border-width: 2px;
  border-radius: 0px;
  box-shadow: #000;
  width: 97%;
  position: relative;
  left: 3%;
}
.timeline{
  background-color: #FFF;
  border-width: 2px;
  border-radius: 2px; 
  padding: 15px;
  padding-bottom: 30px;
  font-size: 12px; 
  overflow-y: auto;
}

.fechas {
  text-align: center;
  font-size: 14px;
  z-index: 1000;
}

.v-line{
  border-left: thick solid rgb(214, 222, 230);
  border-width: 2px;  
  min-height: 90px;
  left: 28.9%;
  position: absolute;
}

.dos {
  text-align: right;
  z-index: 100;
}

.uno {
  z-index: 100;
}

.fofbl {
  background-color: #FFF;
}
.fofgr {
  border-top: 1px solid #EEE;
}
.xfofgr {
  border-top: 1px solid #EEE;
  background-color: #e6f1ff;
}

.colorrep {
  color:#043184;
}
 
.nombret {
  color:#FFF;
  margin: 0 15px 0 0;
  font-size: 14px;
  background-color: rgba(4, 49, 132, 1); 
  border: solid;
  border-width: 4px;
  border-color: rgba(20, 85, 206, 0.808); 
  padding: 4px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 2000;
  -webkit-animation: test 3s infinite; /* Chrome, Safari, Opera */
  animation: test 1s infinite;
}
/* Standard syntax */
@keyframes test {
  10% { box-shadow: 0px 0px 10px 3px #114dbf;}
}


.nombreticon {
	color:#FFF;
	margin: 0 15px 0 0;
	font-size: 14px;
	background-color: rgba(4, 49, 132, 1); 
	border: solid;
	border-width: 4px;
	border-color: rgba(20, 85, 206, 0.808);  
	border-radius: 50%;
	z-index: 2000;
	-webkit-animation: testicon 3s infinite; /* Chrome, Safari, Opera */
	animation: testicon 1s infinite;
  }
  /* Standard syntax */
  @keyframes testicon {
	10% { box-shadow: 0px 0px 2px 1px #114dbf;}
  }

.tamaimg{
  transform:scale(0.42);
  opacity: 0.9;
}

.MuiTableCell-root{
  padding: 1px;
}

.bot1 {
  width: 100%;
}

.texpeq {
  font-size: 11px;

}

.fblimag {
  background-color: #FFF;
  height: 410px;
  border-color: rgba(220, 220, 220, 0.2);
  border-radius: 0px;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}

.logoblanco {
  font-size: 16px;
  color:white;
  left: 190px;
  position: absolute;
}

.logoblancodos { 
  transform: scale(0.4);
  padding-left: 33%;
}

.barleft {
  background-color: #043184;
}
.barleft2 {
  color:#FFF;
}
.otraclase
{
  color: #043184;
  background: #adadad;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-100vh{
  height: 100vh;
}

